*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #080B10;
    overflow-x: hidden;
    flex-direction: column;


}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}